/* error.css */

.error {
    border: 3px solid #555;
    color: rgb(209, 0, 0);
    background-image: url(../peliculas/error404.jpg);
    background-color: black;
    font-family: western;
    font-size: 80px;
    width: 700px;
    height: 300px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: 100px;
  }
  
  .boton-regresar {
    /* Agrega estilos para el botón de regresar aquí */
    background-color: #424242; 
    color: rgb(8, 8, 8);
    font-family: western;
    text-align: center;
    font-size: 20px;
    padding: 30px ;
    cursor: pointer;
  }
  
  .contenedor {
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align:center;
    display: flex;
  }
  