  h4 {
    font-family: western;
    color: rgb(252, 250, 250);
    box-shadow: 0 0 15px rgb(233, 21, 71);
    display: inline;
    

  }
.caja-chat {
    border: 4px solid #555;
    background-color: black;
    color: white;
    font-family: western;
    font-size: 18px;
    width: 700px;
    height: 400px;
    box-shadow: 0 0 15px rgb(233, 21, 71);
  }
  
  .contenedor-chat {
    border: 4px solid #555;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
    
  }

  .texto-chat {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: western;
    width: 550px;
    font-size: 17px;
    box-shadow: 0 0 30px rgb(233, 21, 71);
  }

  .contenedor-boton-regreso  {
    justify-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
    margin-top: 50px;
  }