/* Estilos para el contenedor principal de la aplicación de chat */
.vista-chat {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
}

/* Estilos para la lista de usuarios a la izquierda */
.lista-de-usuarios {
  width: 25%;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.usuario {
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5px;

}

.usuario:hover {
  background-color: #3c3c3c;
}

.img-chat {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Estilos para el contenedor del chat */
.contenedor-chat {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  background-color: #1f1f1f;
  color: #eee;
  border-radius: 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Estilos para los mensajes */
.caja-chat {
  width: 75%;
  height: 400px;
  background-color: #292929;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
  color: #eee;
}

.entrada {
  background-color: #393939;
  align-self: flex-start;
}

.saliendo {
  background-color: #4f4f4f;
  align-self: flex-end;
}

/* Estilos para la caja de entrada */
.cuadro-de-entrada {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2c2c2c;
}

.cuadro-de-entrada input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #292929;
  color: #eee;
}

.cuadro-de-entrada button {
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #4f4f4f;
  color: #eee;
  cursor: pointer;
}

/* Estilos adicionales para desactivar el desplazamiento horizontal en dispositivos pequeños */
@media (max-width: 400px) {
  .caja-chat {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .vista-chat {
    flex-direction: column;
  }
  .lista-de-usuarios {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}