#contenedor-panel{
  border: 4px solid #f9f9f9;
  width: 100%;
  height: 100%;

}

h4 {
  color: rgb(209, 0, 0); 
  background-color: black; 
  text-align: left; 
  font-family: western; 
  font-size: 30px; 
  width: 200px;
  height: 500px;
}

.caja-chat {
    background-color: black;
    color: white;
    font-family: western;
    font-size: 18px;
    border-radius: 30px;
    width: 700px;
    height: 400px;
    box-shadow: 0 0 15px rgb(233, 21, 71);
    margin-bottom: 10px;
  }
  
  .texto-chat {
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: western;
    width: 550px;
    font-size: 17px;
  }

  